.rodape {
    background-color: var(--preto);
    padding: 1em;
    text-align: center;
    // position: fixed;
    // width: 100%;
    // bottom: 0;
}

.rodape h2{
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}